:root{
    --bold-blue: #223240;
    --light-blue: #95B8BF;
    --mid-blue:  #4b6469;
    --primary: #D99982;
    --mid-bege: #F2C1AE;
    --bold-bege: #733C30;
}
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
